@charset "utf-8";
/* CSS Document */


#slider-container
{
    width: 60%;
    margin: auto;
    position: relative;
}
#slider-container .slide
{
    width: 100%;
}
#next
{
    position: absolute;
    right: 0;
    top: 45%;
}
#prev
{
    position: absolute;
    left: 0;
    top: 45%;
}
/* CSS Document */


*{
	transition:all 1s;
}
h1{
	position:relative;
	left:0;
}
.test{
	background-color:rgba(0,204,255,1);
	color:rgba(255,51,51,1);
	width:80%;
	position:relative;
	left:100px;
}

